header {
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 50px;
    padding: 0 50px;
    .Logo{
        max-width: 155px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        gap: 50px;
        align-items: center;
        li {
            a {
                color: #000;
               
                font-size: 24px;
                text-decoration: none;
                &:hover {
                    color: #FF6060;
                    text-decoration: underline;
                    
                }
                
        }
     
            
            
        }
        
    }
    .nav-active {
        text-decoration-line: underline;
    }
}

}