.Home {
    &-card {
        border-radius: 25px;
        background-color: #F6F6F6;
        padding: 50px;
        flex-wrap: wrap;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        
    }
}
@media screen and (max-width: 768px) {
    .Home-card {
      
      flex-direction: column; /* Afficher les cartes en colonne */
      align-items: center; /* Centrer les cartes horizontalement */
      text-align: center; /* Centrer le texte à l'intérieur des cartes */
    
      }


  }
